/* main page css styles */
body {
	font-family: "Arial";
	margin: 0;
	background-image: url("../img/zurich.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color: #fff;
	font-size: 50px;
}

h2 {
	
}

.about {
	background-color: #17202A;
	border-bottom: all;
	text-align: center;
	color: #fff;
	height: 300px;
}

.header {
	margin-top: 15px;
	display: inline-flex;
}

.main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-bottom: 20px;
}

.institute {
	background-image: url("../img/institute");
}

.tiles {
	height: 200px;
	width: 300px;
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
	border-radius: 10px;
}

.gap {
	height: 300px;
}

.music-player {
	background-image: url("../img/music-player.png");
	color: #000;
}

.tiles:hover {
	cursor: pointer;
	opacity: 0.8;
}

.projects {
	background-color: #003366;
	border-bottom: all;
	text-align: center;
	color: #fff;
	height: 600px;
}

.s4h {
	background-image: url("../img/s4h.png");
}

